.time_block {
    min-width: 265px;
    min-height: 92px;
    max-width: 265px;
    max-height: 92px;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 16px;
    display: flex;
     justify-content: space-between;

    border-bottom: 1px solid rgba(0, 0, 0, 0.479);
}

.time_block_h {
    width: 100%;
    padding-top: 5px;
    padding-left: 7px;
    position: absolute;
    width: 45px;
    height: 16.1px;
}

.time_block_t {
    margin-top: 40px;
    padding-left: 7px;
}

.time_block_p {
    width: 75px;
    height: 75px;
    /* margin-left: 140px; */
    margin-top: 22px;
}

.time_block_dp {
    width: 75px;
    height: 75px;
}

.block_detail_other {

}

.tab_city_name {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;

    /* font-weight: bold; */
}

.tab_city_date {
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
}

.main_temp_block {
    /* display: flex; */
    margin-top: 55px;

    justify-content: center;
}

.temp_block {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 100px;
}

.temp_text {
    font-size: 62px;
}

.tab_city_pict {
    margin-top: -7px;
    margin-right: -5px;
    width: 90px;
    height: 90px;
}

.tab_weather {
    text-align: center;
    font-size: 20px;
    margin-top: -10px;

    /* font-weight: bold;
    color: rgba(0, 0, 0, 0.815); */
}

.down_block {
    display: flex;
    font-size: 18px;

    margin-top: 75px;
    margin-left: 12px;

}

.sunrise {
    max-width: 20px;
}

.sunrise_block {
    width: 20px;
    margin-right: 2px;
}

.down_block_t1 {
    display: flex;
}

.down_block_t2 {
    margin-left: 12px;
    display: flex;
    position: absolute;
    margin-left: 148px;
}

.sunset_block {
    width: 20px;
    margin-right: 2px;
}

.sunset {
    width: 20px;
}
